$primaryColor500: hsl(207, 78%, 50%);
$primaryColor600: hsl(207, 82%, 40%);
$primaryColor700: #0A538F;


$neutral100: hsl(210, 20%, 98%);
$neutral200:hsl(207, 15%, 94%);
$neutral700: hsl(207, 15%, 38%)